<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft1851.music.admin.mapper.SysAdminMapper">

    <!--    &lt;!&ndash; 通用查询映射结果 &ndash;&gt;-->
    <!--    <resultMap id="BaseResultMap" type="com.soft1851.music.admin.domain.entity.SysAdmin">-->
    <!--        <id column="id" property="id" />-->
    <!--        <result column="name" property="name" />-->
    <!--        <result column="password" property="password" />-->
    <!--        <result column="salt" property="salt" />-->
    <!--        <result column="avatar" property="avatar" />-->
    <!--        <result column="create_time" property="createTime" />-->
    <!--        <result column="update_time" property="updateTime" />-->
    <!--        <result column="status" property="status" />-->
    <!--    </resultMap>-->

    <!--    <select id="getAdminMenuByAdminId" parameterType="String" resultType="map">-->
    <!--        SELECT t1.id, t1.name, t1.avatar, t1.create_time, t3.role_name, t3.role_id-->
    <!--        FROM role_admin t2-->
    <!--                 LEFT JOIN sys_admin t1 ON t1.id = t2.admin_id-->
    <!--                    LEFT JOIN sys_role t3 ON t2.role_id=t3.role_id-->
    <!--                        WHERE t2.admin_id=#{adminId}-->
    <!--    </select>-->

    <resultMap id="adminMap" type="com.soft1851.music.admin.domain.entity.SysAdmin">
        <result property="id" column="id" javaType="java.lang.String"/>
        <result property="name" column="name" javaType="java.lang.String"/>
        <result property="password" column="password" javaType="java.lang.String"/>
        <result property="salt" column="salt" javaType="java.lang.String"/>
        <result property="avatar" column="avatar" javaType="java.lang.String"/>
        <collection property="roles" ofType="com.soft1851.music.admin.domain.entity.SysRole">
            <result property="roleId" column="role_id" javaType="java.lang.Integer"/>
            <result property="roleName" column="role_name" javaType="java.lang.String"/>
        </collection>
    </resultMap>

    <select id="selectByName" resultMap="adminMap">
        SELECT t1.id,t1.password, t1.name,t1.salt, t1.avatar, t3.role_id, t3.role_name
        FROM sys_admin t1,
             role_admin t2,
             sys_role t3
        WHERE t1.id = t2.admin_id
          AND t2.role_id = t3.role_id
          AND t1.name = #{name}
    </select>
    <update id="setSysAdmin"  parameterType="com.soft1851.music.admin.domain.entity.SysAdmin" >
        UPDATE cloud_music.sys_admin
        SET cloud_music.sys_admin.name=#{name},
            cloud_music.sys_admin.password=#{password},
            cloud_music.sys_admin.avatar=#{avatar},
            cloud_music.sys_admin.update_time=#{updateTime}
        WHERE cloud_music.sys_admin.id=#{id};
    </update>


</mapper>
